@charset "utf-8";
h1 {
  font-family: "카페24 써라운드", 굴림, sans-serif;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 35px;
}

section {
  text-align: center;
  background-color: ghostwhite;
}
section > h3 {
  font-weight: normal;
  text-decoration: underline;
  font-size: 16px;
  color: gray;
  background-color: #fff;
  text-align: center;
}
#txt1 {
  text-decoration: underline;
  font-size: 14px;
  color: grey;
}
.txt {
  color: red;
  font-size: 14px;
}
section > a {
  font-size: 18px;
  background-color: darkred;
  color: #fff;
  text-decoration: line-through;
  cursor: pointer;
}
h2 {
  text-align: center;
  text-decoration: underline;
  color: darkcyan;
  font-size: 30px;
}
h3 {
  background-color: darkcyan;
  color: #fff;
  text-align: right;
  font-size: 15px;
  font-family: "카페24 써라운드", 굴림, sans-serif;
}
.txt2 {
  background-color: orange;
}