@charset "utf-8";

.wrapper { 
  font-family: 'Noto Sans KR', -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  scroll-behavior: smooth;
}

a { color: inherit; text-decoration: none; display: block; }

img {
  vertical-align: top;
}

/* 스크롤바 */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background-color: #000; }

/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header h1 a { background: url(./images/logo.png) no-repeat 50% / contain;
  display: block;
  width: 105px; height: 60px;
  text-indent: -9999px;
  margin-top: 20px;
  margin-left: 50px;
}
header #gnb {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 1.1em;
}
header #gnb > li {
  position: relative;
  padding: 0 70px 0;
  
}
header #gnb > li > a {
  transition: 0.3s;
}
header #gnb > li:hover > a {
  border-bottom: 2px solid #000;
}
#gnb > li > a:hover {
  color: red;
}
header #gnb .sub_menu {
  padding-top: 30px;
  width: 160px;
  position: absolute;
  left: 20px; top: 30px;
  z-index: 99;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
header #gnb .sub_menu li {
  padding: 5px;
  font-size: 0.9em;
}
header #gnb > li:hover .sub_menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
header #gnb .sub_menu li a {
  transition: 0.3s;
}
header #gnb .sub_menu li a:hover {
  color: red;
}

header #toggle_btn {
  display: block;
  background: url(./images/menu_FILL0_wght400_GRAD0_opsz48.svg) no-repeat 50% / contain;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 0;
  width: 50px; height: 50px;
  text-indent: -9999px;
  margin-right: 50px;
}

/* main */
.container1 {
  width: 95%; height: 745px;
  margin: 20px auto 10px;
  position: relative;
}
.container1 h2 {
  position: absolute;
  top: 40%; left: 38%;
  color: #fff;
  font-size: 3em;
}
.container1 h3 {
  position: absolute;
  top: 50%; left: 40%;
  color: #fff;
  font-size: 2em;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 80px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  width: 100%;
  font-family: '맑은 고딕', sans-serif;
  font-size: 17px;
}
.container2 p > a {
  margin-right: 500px;
}
.container2 .more {
  display: block;
  background: url(./images/more.jpg) no-repeat 50% / contain;
  width: 42px; height: 42px;
  text-indent: -9999px;
  text-align: center;
}

.container3 {
  width: 1200px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}
.container3 .box_01, .container3 .box_04 {
  padding: 70px 100px;
}
.container3 .box_01 a, .container3 .box_04 a {
  float: left;
  margin-right: 6px;
  margin-top: 40px;
}
.container3 section {
  float: left;
  width: 50%;
  background-color: #f5f5f5;
  display: block;
  height: 380px;
  margin: 0;
}
.container3 section p {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  line-height: 30px;
  color: #888;
}
.container3 section a {
  display: block;
  width: 120px;
  padding: 15px 5px 16px 5px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 5px 5px;
  color: #333;
}
.container3 .box3_03 {
  float: right;
}
.container3 .box_01 a:hover, .container3 .box_04 a:hover {
  border: 1px solid #000;
}

.container4 {
  width: 100%;
  margin: 100px auto;
  position: relative;
  display: block;
  height: 450px;
  background: url(./images/bg.jpg) no-repeat center top;
}
.container4 p {
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 35px;
  text-align: center;
  padding-top: 160px;
  display: block;
  z-index: 1;
}
.container4 p a {
  display: block;
  width: 150px;
  padding: 15px 5px 16px 5px;
  text-align: center;
  font-size: 17px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 35px auto 0 auto;
  border-radius: 5px 5px;
  color: #fff;
  transition: all 0.3s;
}
.container4 p a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.container5 {
  text-align: center;
  width: 100%;
  padding: 0 0 35px 0;
}
.container5 h2 {
  font-size: 33px;
  letter-spacing: 10px;
  color: #333;
  font-weight: 600 !important;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Raleway","Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif" !important;
}

.container6 {
  font-family: "Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif" !important;;
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 88px;
  place-content: center;
  text-align: center;
}
.container6 p {
  padding-top: 10px;
}

.container7 {
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 90px 0 95px 0;
  margin-top: 90px;
}
.container7 ul {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.container7 ul li {
  float: left;
  width: 25%;
  border-left: 1px solid #dfdfdf;
}
.container7 ul .ico1 {
  border: none;
}
.container7 ul .ico1 a {
  background: url(./images/ico1.png) no-repeat;
  background-position: center 95%;
}
.container7 ul .ico2 a {
  background: url(./images/ico2.png) no-repeat;
  background-position: center 95%;
}
.container7 ul .ico3 a {
  background: url(./images/ico3.png) no-repeat;
  background-position: center 95%;
}
.container7 ul .ico4 a {
  background: url(./images/ico4.png) no-repeat;
  background-position: center 95%;
}
.container7 ul li a {
  display: block;
  height: 200px;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s;    
}
.container7 ul li a:hover {
  background-position: center 90%;
}
.container7 ul li .title {
  display: block;
  padding-bottom: 25px;
  font-size: 20px;
}
.container7 ul li .txt {
  display: block;
  color: #888;
  font-size: 16px;
  line-height: 26px;
}

.container8 {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  margin-top: 86px;
  /* clear: both; */
  /* overflow: hidden; */
}
.container8 .link {
  width: 1200px;
  margin-left: 365px;
}
.container8 .link li {
  display: inline-block;
  font-size: 14px;
  color: #888;
}
.container8 .link li a {
  display: block;
  padding: 10px 25px 10px 5px;
}

/* footer */
footer {
  margin: 0 auto;
  padding: 30px 0;
  width: 1200px;
}
footer .sns {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
}
footer .sns a {
  padding: 0 5px;
  opacity: 0.9;
}
footer .sns a:hover {
  opacity: 1;
}
footer .sns a img {
  height: 50px;
}
footer .info {
  color: #bbb;
  font-size: 14px;
  line-height: 28px;
}
footer .info p a {
  text-decoration: underline;
  color: #ccc;
  display: inline;
}